
.contacts {
	margin-top: 4vh;

	h3 {
		font-size: 0.9rem;
	    line-height: 1.6;
	    font-family: 'geomanistlight';
	    margin-top: 2vh;
	}
	p {
		font-size: 1rem;
	    font-family: 'Merriweather', serif;
	    font-weight: 600;
	    margin-top: -3px;
	}
}



